/*#board{
	position: fixed;
	top: 1%;
	right: 1%;
	width: 80%;
	height: 95%
	background-color: green;
	border:3px solid red;


}*/

#board{
	position: fixed;

    background-color: black;
	border:3px solid white;
	border-radius: 1%; 
	top: 1%;
	right: 1%;

    /*top: 15px !important;
	right: 30px;
	border:3px solid grey;*/

}

/*#board_div{
	position: fixed;
    top: 1%;
	right: 1%;
	width: 80%;
	height: 95%;
	border:3px solid white;

}*/

#hidden_board{
    display: none;
}

body{
	background-color: rgb(10,10,10);
}

#harmonograph{
	color: #0de898;
	text-decoration-color: #0de898;
}

input[type=color].form-control {
    padding: 1px;

}